
**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt

logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules

# macOS junk
.DS_Store

# generated on each test run
deployments/default.simnet-plan.yaml
